.container
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1vh 1vh 1vh;
    grid-template-rows: 1vh 1vh 1vh;
    grid-template-areas: 
    "top top top"
    "left middle middle"
    "left middle middle";
}
.top
{
    grid-area: top;
    background-color: rebeccapurple;
}
.left
{
    grid-area: left;
    background-color: darkseagreen;
}
.mid
{
    grid-area: middle;
    background-color: aqua;
}
.link{
    background-color: aqua;
    padding: 20px;
}