*
{
    margin: 0;
    padding: 0;
}


.container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "a a" "b c";
    height: 100vh;
    width: 100%;
}

.head
{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(255,0,0,1) 66%, rgba(0,0,0,1) 94%);
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left
{
    grid-area: b;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(14,255,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right
{
    background: rgb(255,0,254);
    background: linear-gradient(90deg, rgba(255,0,254,1) 0%, rgba(0,0,0,1) 86%); 
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link
{
    padding: 20px;
    background: darkblue;
    margin: 10px;
}

a
{
    text-decoration: none;
    color: white;
}

.link:hover
{
    background: darkblue;
}

.linki
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.myrow{
    background-color: salmon;

}
.myrow:nth-child(odd){
    background-color: wheat;
    
}