*
{
    margin: 0;
    padding: 0;
}


.container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "a a" "b c";
    height: 100vh;
    width: 100%;
}

.head
{
    background: red;
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left
{
    grid-area: b;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right
{
    background: blue;
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link
{
    padding: 20px;
    background: whitesmoke;
    margin: 10px;
}

a
{
    text-decoration: none;
    color: black;
}

.link:hover
{
    background: rgb(218, 218, 218);
}

.linki
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}